@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Behold! That which is universal time is also that which is Azure Web Server time: </h1>
    <h2>@DateTime.Now.ToUniversalTime()</h2>
</div>
